.header
  %h2= @team.name
  %p Logo TODO
  %p Location TODO
  
.box
  %h3 Roster
  %ul= render :partial => 'player', :collection => @team.players
  
.box
  %h3 Scores
  %p TODO
  
.panel 
  %h3 Next Game
  %p TODO
  
.panel
  %h3 Standing
  %p TODO